@{
    ViewBag.Title = "Home Page";
    if (Session["ID"] == null) {
        Layout = "~/Views/Shared/_Layout.cshtml";
    } else {
        Layout = "~/Views/Shared/_AfterLoginLayoutPage.cshtml";
    }
}

<div class="jumbotron">
    <h1>Thư viện học viện kĩ thuật quân sự</h1>
</div>
