@{
    ViewBag.Title = "Home Page";
    if (Session["ID"] == null) {
        Layout = "~/Views/Shared/_Layout.cshtml";
    } else {
        Layout = "~/Views/Shared/_AfterLoginLayoutPage.cshtml";
    }
}

<div class="jumbotron">
    <h1>Thư viện học viện kĩ thuật quân sự</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>
